
.box-hero {
    background-image: url("./assets/imgs/hero.png");
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: hue;
    background-color: rgba(0, 0, 0, 0.495);
    position: relative;
    top: 0;
    left: 0;
    height: 500px;
    width: 100%;
}
.items-hero{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%,-30%);
}